# Misc
.DS_Store
yarn-error.log

# Frontend
packages/frontend/node_modules/
packages/frontend/src/node_modules/@sapper/
packages/frontend/__sapper__/
packages/frontend/dist
packages/frontend/worker

# Lambdas
packages/lambdas/execute/node_modules/
packages/lambdas/execute/archive.zip
packages/lambdas/migrate/node_modules/
packages/lambdas/migrate/archive.zip
packages/lambdas/workspace/node_modules/
packages/lambdas/workspace/archive.zip
packages/lambdas/workspace/prisma/.env