# Misc
.DS_Store
yarn-error.log

# Frontend
packages/frontend/node_modules
packages/frontend/src/node_modules/@sapper
packages/frontend/__sapper__
packages/frontend/archive
packages/frontend/archive.zip

# API
packages/api/node_modules/
packages/api/archive
packages/api/archive.zip
packages/api/.env

# Reaper
packages/reaper/node_modules/
packages/reaper/archive
packages/reaper/archive.zip