:root {
  --bg-color: #212121;
  --fg-color: #eeffff;
  --accent-color: #6eeb83;
  --error-color: #f15f5f;

  --inactive-color: #727272;
  --border-color: #545454;
  --icon-color: #545454;

  --shadow: 20px 20px 60px #151515, -20px -20px 60px #555555;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: monospace;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
